* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
}
/* header and search  */
.header {
  margin: 0 auto;
  padding: 10px;
  background: rgb(75, 75, 255);
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
}
.search-form__input {
  border-radius: 5px;
}
.search-btn {
  /* border-radius: 5px; */
  position: absolute;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 480px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.photo-card {
  margin: 10px;
  overflow: hidden;
}
/* .load-more {
    /* display: none; */
/* } */
.btn-visible {
  display: block;
}
.btn-hidden {
  display: none;
}
